{% extends 'base.html' %}
{% load static %}
{% block content %}
<div  class="site-gradients">
		<div class="site-gradients-media">
			<figure>
				<img src="{%static "images/banner1.jpg"%}" alt="PcLGXNjMTdiFVKTrElCl__DSC2245" srcset="{%static "images/banner1.jpg"%}" sizes="(max-width: 1617px) 100vw, 1617px" height="1080" width="1617">
			</figure>
		</div>
	</div>
	<header class="container">
		<div class="site-branding">
			<h1 class="site-title">
				<span>Ctadas</span>
			</h1>
			<h2 class="site-description">Welcome to Us !</h2>
		</div>

	</header>
	<!-- /////////////////////////////////////////Content -->

	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<img src="{% static "images/banner2.jpg" %}">
						<div class="art-content">
							<div class="excerpt">
								<p>什么呢</p>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}