{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- CAROUSEL -->
	<div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel" data-interval="4000">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="{% static "images/banner1.jpg" %}" alt="...">>
				<!-- Static Header -->
				<div class="container">
				<div class="header-text hidden-xs">
					<div class="col-md-12 text-center">
						<h1>Ctadas Blog</h1>
						<hr>
						<p>关于咸鱼的梦想.......</p>
<!-- 						<a href="{% url 'about' %}" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
					</div>
				</div><!-- /header-text -->
				</div>
			</div>
			{% if theme %}
			{% for ti in theme %}
			<div class="item">
				<img src= "/static/media/{{ti.theme_pictures}}" alt="...">
				<!-- Static Header -->
                                <div class="container">
				<div class="header-text hidden-xs">
					<div class="col-md-12 text-center">
						<h1>{{ ti.title }}</h1>
						<hr>
						<p>{{ ti.about }}</p>
		<!-- 				<a href="{% url 'about' %}" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
					</div>
				</div><!-- /header-text -->
                                </div>
			</div>
			{% endfor %}
			{% endif %}

		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div> <!-- Carousel -->
	
	<header class="container">
		<div class="site-branding">
			<h1 class="site-title">
				<a href="{% url 'index' %}">
					<span>Ctadas</span>
				</a>
			</h1>
			<h2 class="site-description">Welcome to Us !</h2>
		</div>
		
	</header>
	
	<!-- Content -->

	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="container">
				<div class="row">						
					{% if articles %}
					{% for article in articles %}
					<div class="col-md-4">					
						<div class="box-item">
							<img src="/static/media/{{article.show_pictures}}" class="img-responsive" style="width:500px;height:250px;" >
							<div class="content">
								<h3>{{ article.title }}</h3>
								<p>{{ article.content|truncatechars_html:40 | safe }}</p>
								<a href="article/{{article.id}}">阅读全文...</a>
								<br><br>
								<span>分类：{{ article.tpye }}</span><br>
								<span>{{ article.release_time }}</span><br>
							</div>
						</div>
					 </div>
					{% endfor %}
					{% endif %}											
				</div>
			</div>
		</section>
	</div>
{% endblock %}
